version: '3.8'

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx/.
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    restart: always
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/.{}
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    restart: always
  
  # mariadb:
  #   container_name: mariadb
  #   build: ./requirements/bonus/ftp/.
  #   depends_on:
  #     - wordpress
  #   volumes:
  #     - wordpress: /home/frahenin/ftp/files
  #   ports:
  #     - "21:21"
  #     - "20:20"
  #     - "40000-40005:40000-40005"
  #   networks:
  #     - inception
  #   restart: always